.home {
	color: #fff;
	width: 100vw;
	min-height: 100vh;
	display: flex;
	background: linear-gradient(to left top, #8e0e00, #1f1c18);
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 0px 20px;
	line-height: 30px;
}
.homeItem {
	min-height: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
button {
	padding: 12px 15px;
	border: 1px solid rgb(52, 52, 233);
	color: rgb(52, 52, 233);
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
	background-color: transparent;
}
@media (max-width: 368px) {
	.home {
		padding: 0px 7px;
	}
}
