.login {
	color: #fff;
	background: linear-gradient(#e2b9e8, #cf96d8);
	/* background-color: #cf96d8; */
	min-height: 100vh;
	display: flex;
	width: 100vw;
	align-items: center;
	justify-content: center;
}
.loginSide,
.loginInfo {
	width: 50vw;
	min-height: 480px;
}
.loginSide {
	display: flex;
	/* align-items: center; */
	/* border: 1px solid grey; */
	/* min-height: 500px; */
	height: 100%;
	align-items: center;
	justify-content: center;
}
.loginSideBox {
	border-radius: 7px;
	box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.8);
	padding: 20px 30px;
	background-color: #ba68c8;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 400px;
	min-height: 480px;
	/* height: 100%; */
}
.loginCredentials {
	display: flex;
	flex-direction: column;
}
input,
button {
	outline: none;
	margin: 7px 0;
	border: 0;
	border-radius: 7px;
	padding: 8px 0;
}

.loginButtons {
	/* width: 400px; */
	display: flex;
	justify-content: space-between;
}
.loginButtons button {
	cursor: pointer;
	/* padding: 8px 5px; */
	/* font-size: 15px; */
	/* border-radius: 7px; */
}
.loginextra {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.loginExtra__first {
	display: flex;
	align-items: center;
}
.loginExtra__first input {
	outline: none;
	cursor: pointer;
	margin-right: 5px;
}
.loginbtn {
	background-color: #ba68c8;
	border: 1px solid #fff;
	color: #fff;
}
.active {
	color: #ba68c8;
	background-color: #fff;
	box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.8);
	border: 0;
}
.createAccountbtn {
	background-color: #ba68c8;
	border: 1px solid #fff;
	color: #fff;
}
.createAccountbtn:hover,
.loginbtn:hover {
	color: #ba68c8;
	background-color: #fff;
	box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.8);
	border: 0;
}
.forgotPasswordHandler input {
	width: 100%;
}

@media (max-width: 768px) {
	* {
		font-size: medium;
	}
	.loginSide {
		width: 100vw;
		height: 400px;
	}
	.loginSideBox {
		/* width: vw; */
		/* width: 500px; */
		height: 440px;
	}
	.loginInfo {
		display: none;
	}
	.loginButtons button {
		cursor: pointer;
		/* padding: 8px 5px; */
		font-size: 15px;
	}
}
@media (max-width: 468px) {
	* {
		font-size: small;
	}
	.loginSide {
		width: 100vw;
		min-height: 480px;
		padding: 0px 10px;
	}
	.loginextra {
	}
	.loginSideBox {
		/* width: vw; */
		/* width: 500px; */
		min-width: 30vw;

		min-height: 420px;
	}
	.loginInfo {
		display: none;
	}
	.loginButtons button {
		cursor: pointer;

		padding: 5px 9px;
		font-size: small;
	}
}
