.products {
	height: 100vh;
	display: flex;
}
.products li {
	padding: 15px 0;
	font-size: 20px;
}
.secondHalf {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
}
.secondHalf ul {
	padding: 15px 0;
	font-size: 20px;
	display: flex;
	height: 70px;
	/* justify-content: space-; */
	align-items: center;
}
.secondHalf ul:hover {
	border-bottom: 1px solid grey;
}
.secondHalf ul img {
	margin-right: 20px;
	height: 100%;
}
.firstHalf {
	padding-left: 30px;
	width: 20vw;
	background-color: #000;
	color: #fff;
}
.firstHalf > li {
	cursor: pointer;
}
@media (max-width: 600px) {
	.products {
		flex-direction: column;
	}
	.firstHalf {
		display: flex;
		width: 100vw;
		justify-content: space-around;
		padding-left: 0px;
	}
	.firstHalf > li {
		font-size: 12px;
	}
	.secondHalf ul img {
		margin-right: 20px;
		height: 100%;
	}
	.secondHalf {
		display: flex;
		flex-direction: column;
		padding-left: 5px;
	}
}
@media (max-width: 300px) {
	.products {
		/* flex-direction: column; */
	}
	.firstHalf {
		display: flex;
		width: 100vw;
		justify-content: space-around;
		padding-left: 0px;
	}
	.firstHalf > li {
		font-size: 10px;
	}
}
