.products {
	height: 100vh;
	display: flex;
}
.products li {
	padding: 15px 0;
	font-size: 20px;
}
.secondHalf {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
}
.secondHalf ul {
	padding: 15px 0;
	font-size: 20px;
	display: flex;
	height: 70px;
	/* justify-content: space-; */
	align-items: center;
}
.secondHalf ul:hover {
	border-bottom: 1px solid grey;
}
.secondHalf ul img {
	margin-right: 20px;
	height: 100%;
}
.firstHalf {
	padding-left: 30px;
	width: 20vw;
	background-color: #000;
	color: #fff;
}
